<form method="post" action="{{ path('app_vehicle_delete', {'id': vehicle.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce véhicule ?');" class="flex justify-center items-center">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicle.id) }}">
    <button class="bg-red-700 hover:bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none" type="submit">Supprimer ce véhicule</button>
</form>
